<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
	<link rel="stylesheet" type="text/css" href="https://rawgit.com/outboxcraft/beauter/master/beauter.min.css"/>

  <title>CandfansAnalyzer</title>
</head>
<body>
<div class="jumbo _info box">
  <h3>Candfans Analyzer</h3>
  <form action="{% url 'index' %}" method="POST" style="width: 90%">
    {% csrf_token %}
    <input type="text" name="user_code" placeholder="user_code" style="width: 60%;max-width: 500px;">
    <button type="submit" class="_primary">分析</button>
  </form>
</div>
<script src="https://rawgit.com/outboxcraft/beauter/master/beauter.min.js"></script>
<style>
  .box {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
</style>
</body>
</html>
