{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
	<link rel="stylesheet" type="text/css" href="https://rawgit.com/outboxcraft/beauter/master/beauter.min.css"/>

  <title>CandfansAnalyzer</title>
</head>
<body>
<div class="jumbo _danger">
  <h3>Not Found</h3>
  <div>
    <a href="https://candfans.jp/{{ user_code }}">{{ user_code }}さん</a>
    は存在しないアカウントのようです。

  </div>
  <div>
    <a href="{% url 'index' %}">Back to Top.</a>
  </div>
</div>
<div>
</div>
<script src="https://rawgit.com/outboxcraft/beauter/master/beauter.min.js"></script>
</body>
</html>
