{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
	<link rel="stylesheet" type="text/css" href="https://rawgit.com/outboxcraft/beauter/master/beauter.min.css"/>
  <title>{{ candfans_user.user_code }}さんの情報</title>

  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script>
    const summaryMonthlyStats = JSON.parse('{{ summary_monthly_stats_json | escapejs }}');
  </script>
  <style>
    ._brandcolor {
        background-color: #66AAff !important;
    }
  </style>
</head>
<body>

<ul class="topnav _brandcolor" id="topNav">
  <li>
    <a href="{% url 'index' %}" style="width: 120px;">
      <img
        src="{% static 'images/logo_horizontal.png' %}
      ">
    </a>
  </li>
{#  <li class="-icon">#}
{#    <a href="javascript:void(0);" onclick="topnav('topNav')">☰</a>#}
{#  </li>#}
</ul>
<div class="tab">
  <button class="tablinks _small" onclick="toTab('info')">基本情報</button>
  <button class="tablinks _small" onclick="toTab('monthly_stats')">投稿月間分析</button>
{#  <button class="tablinks _small" onclick="toTab('tab3')">投稿週間分析</button>#}
</div>

<div id="info" class="tabcontent">
  {% include 'users/info.j2' %}
</div>

<div id="monthly_stats" class="tabcontent">
  {% include 'users/monthly_stats.j2' %}
</div>


<div class="_alignCenter">
  <a href="{% url 'index' %}">Back to Top.</a>
</div>
<script src="https://rawgit.com/outboxcraft/beauter/master/beauter.min.js"></script>
<script>
  function toTab(tabName) {
    location.hash = tabName
    opentab(tabName)
  }
  function initTab() {
    if(location.hash) {
      toTab(location.hash.replace('#', ''))
    } else {
      toTab('info')
    }
  }
  initTab()
</script>
</body>
</html>
