  <table class="_width100">
    <tbody>
      <tr>
        <td>ユーザーコード</td>
        <td>
          <a href="https://candfans.jp/{{ candfans_user.user_code }}" target="_blank">
            {{ candfans_user.user_code }}
          </a>
        </td>
      </tr>
      <tr>
        <td>ユーザーネーム</td>
        <td>
          <a href="https://candfans.jp/{{ candfans_user.user_code }}" target="_blank">
            {{ candfans_user.username }}
          </a>
        </td>
      </tr>
      <tr>
        <td>同期済投稿数</td>
        <td>{{ monthly_stats.total_post_type_stats.total_item }}</td>
      </tr>
      <tr>
        <td>プラン</td>
        <td>
          <ul>
            {% for plan in plan_summaries %}
            <li class="_low">
              {{ plan.plan_name }}({{ plan.support_price }}円)
            </li>
            {% endfor %}
          </ul>
        </td>
      </tr>
      <tr>
        <td>同期状況</td>
        {% if candfans_user.sync_status %}
          <td>{{ candfans_user.sync_status.label }}</td>
        {% else %}
          <td>未同期</td>
        {% endif %}
      </tr>
      <tr>
        <td>最終同期開始時刻</td>
        <td>{{ candfans_user.sync_requested_at }}</td>
      </tr>
      <tr>
        <td>最終同期完了時刻</td>
        <td>{{ candfans_user.last_synced_at }}</td>
      </tr>
    </tbody>
  </table>
