<h4 class="_alignCenter">ユーザー情報</h4>

  <div class="_width100" style="display: flex; justify-content: center">
  <table class="_width100" style="max-width: 700px">
    <tbody>
      <tr>
        <td>ユーザーコード</td>
        <td>
          <a href="https://candfans.jp/{{ candfans_user.user_code }}" target="_blank">
            {{ candfans_user.user_code }}
          </a>
        </td>
      </tr>
      <tr>
        <td>ユーザーネーム</td>
        <td>
          <a href="https://candfans.jp/{{ candfans_user.user_code }}" target="_blank">
            {{ candfans_user.username }}
          </a>
        </td>
      </tr>
      <tr>
        <td>同期済投稿数</td>
        <td>{{ monthly_stats.total_post_type_stats.total_item }}</td>
      </tr>
      <tr>
        <td>プラン</td>
        <td>
          <ul>
            {% for plan in plan_summaries %}
            <li class="_low">
              {{ plan.plan_name }}({{ plan.support_price }}円)
            </li>
            {% endfor %}
          </ul>
        </td>
      </tr>
      <tr>
        <td>同期状況</td>
        {% if candfans_user.sync_status %}
          <td>{{ candfans_user.sync_status.label }}</td>
        {% else %}
          <td>未同期</td>
        {% endif %}
      </tr>
      <tr>
        <td>最終同期開始時刻</td>
        <td>{{ candfans_user.sync_requested_at }}</td>
      </tr>
      <tr>
        <td>最終同期完了時刻</td>
        <td>{{ candfans_user.last_synced_at }}</td>
      </tr>
    </tbody>
  </table>
  </div>

  <h4 class="_alignCenter">プラン情報</h4>
  {% for plan_name, plan_post_summary in plan_post_summary_map.items  %}
  <div class="_width100" style="display: flex; justify-content: center;">
    <table class="_width100" style="max-width: 700px">
      <thead>
        <tr>
          <th colspan="2" class="_alignCenter _dark">{{ plan_name }}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th class="tooltip -tooltip-right _width50">
            月額
          </th>
          <td>{{ plan_post_summary.support_price }}円</td>
        </tr>
        <tr>
          <th class="tooltip -tooltip-right _width100">
            バックナンバー
            <span class="tooltiptext">
              バックナンバー設定がある場合、入会月以前のコンテンツを視聴するためには1月あたりこの金額を追加で支払う
            </span>
          </th>
          {% if plan_post_summary.backnumber_price %}
          <td class="_width50">{{ plan_post_summary.backnumber_price }}円</td>
          {% else %}
          <td class="_width50">未設定</td>
          {% endif %}
        </tr>
        <tr>
          <th class="tooltip -tooltip-right _width100">
            アクティブ投稿数
            <span class="tooltiptext">
              {{ plan_post_summary.first_month }}以降で<br/>
              今加入するとすぐに見ることができる件数
            </span>
          </th>
          <td>
            {{ plan_post_summary.total_plan_post_count }}件
          </td>
        </tr>
        <tr>
          <th class="tooltip -tooltip-right _width100">
            バックナンバー投稿数
            <span class="tooltiptext">{{ plan_post_summary.first_month }}以降</span>
          </th>
          <td>{{ plan_post_summary.total_backnumber_post_count }}件</td>
        </tr>
        <tr>
          <th class="tooltip -tooltip-right _width100">
            アクティブ投稿写真枚数
            <span class="tooltiptext">
              {{ plan_post_summary.first_month }}以降で<br />
              今加入するとすぐに見ることができる枚数
            </span>
          </th>
          <td>{{ plan_post_summary.total_plan_photo_count }}枚</td>
        </tr>
        <tr>
          <th class="tooltip -tooltip-right _width100">
            バックナンバー投稿写真枚数
            <span class="tooltiptext">{{ plan_post_summary.first_month }}以降</span>
          </th>
          <td>{{ plan_post_summary.total_backnumber_photo_count }}枚</td>
        </tr>
        <tr>
          <th class="tooltip -tooltip-right _width100">
            アクティブ動画時間
            <span class="tooltiptext">
              {{ plan_post_summary.first_month }}以降で<br/>
              今加入するとすぐに見ることができる合計時間
            </span>
          </th>
          <td>
            {{ plan_post_summary.total_plan_movie_time|floatformat:2 }}分
            {% if plan_post_summary.total_plan_movie_time > 60 %}
              ({{ plan_post_summary.total_plan_movie_hour|floatformat:2 }} 時間)
            {% endif %}
          </td>
        </tr>
        <tr>
          <th class="tooltip -tooltip-right _width100">
            バックナンバー動画時間
            <span class="tooltiptext">{{ plan_post_summary.first_month }}以降</span>
          </th>
          <td>
            {{ plan_post_summary.total_backnumber_movie_time|floatformat:2 }}分
            {% if plan_post_summary.total_backnumber_movie_time > 60 %}
              ({{ plan_post_summary.total_backnumber_movie_hour|floatformat:2 }} 時間)
            {% endif %}
          </td>
        </tr>

      </tbody>
    </table>
  </div>
  {% endfor %}
  <h4 class="_alignCenter">デイリーランキング</h4>

  <div class="container rank-graph-container">
    <canvas id="daily_ranking"></canvas>
  </div>
  <script>
    const ctx = document.getElementById('daily_ranking');
    new Chart(ctx, {
      type: 'line',
      data: {
        labels: dailyRanking.labels,
        datasets: dailyRanking.datasets,
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        scales: {
          x: {
            stacked: true,
          },
          y: {
            stacked: true,
            reverse: true,
            min: 1,
            max: 101,
            stepSize: 1,
            ticks: {
              callback: function(value){
                let label = ''
                if(value === 0){
                    label = ""
                }
                else if(value <= 100){
                    label = value + '位'
                }
                else if(value > 100){
                    label = "圏外"
                }
                else{
                    label = ""
                }
                return  label
              }
            }
          }
        },
        plugins: {
          title: {
            display: true,
            text: '{{ candfans_user.username }}さんのランキング遷移'
          },
          tooltip: {
            callbacks: {
                label: function(context) {
                    let label = '順位: '
                    let rank = context.parsed.y
                    if (parseInt(rank) > 100) {
                      label += '圏外'
                    } else {
                      label += `${context.parsed.y}位`
                    }
                    return label;
                }
            }
          },
        },
      },
    });
  </script>
<style>
  .rank-graph-container {
      height: 400px;
      max-width: 500px;
  }
</style>