  <table class="_width100">
    <tbody>
      <tr>
        <td>ユーザーID</td>
        <td>{{ candfans_user.user_id }}</td>
      </tr>
      <tr>
        <td>ユーザーコード</td>
        <td>{{ candfans_user.user_code }}</td>
      </tr>
      <tr>
        <td>ユーザーネーム</td>
        <td>{{ candfans_user.username }}</td>
      </tr>
      <tr>
        <td>同期状況</td>
        {% if candfans_user.sync_status %}
          <td>{{ candfans_user.sync_status.label }}</td>
        {% else %}
          <td>未同期</td>
        {% endif %}
      </tr>
      <tr>
        <td>最終同期時刻</td>
        <td>{{ candfans_user.last_synced_at }}</td>
      </tr>
      <tr>
        <td>最終同期開始時刻</td>
        <td>{{ candfans_user.sync_requested_at }}</td>
      </tr>
    </tbody>
  </table>
  <form class="_alignCenter" method="POST" action="{% url 'candfans_user_refresh' user_code %}">
    {% csrf_token %}
      <button
        type="submit"
        {% if not candfans_user.is_necessary_to_refresh %}
          disabled
          class="tooltip -tooltip-bottom _disabled"
        {% endif %}
      >更新
      <span class="tooltiptext">
        更新は1日1回です
      </span>
      </button>
  </form>