
  <div class="container graph-container">
    <canvas id="monthly_post_type_stats"></canvas>
  </div>
  <div class="container graph-container">
    <canvas id="monthly_content_type_stats"></canvas>
  </div>
  <div class="container graph-container">
    <canvas id="monthly_limited_item_stats"></canvas>
  </div>
  
  <div class="container graph-container">
    <canvas id="movie_stats"></canvas>
  </div>
  <div class="container graph-container">
    <canvas id="photo_stats"></canvas>
  </div>
  <script>
    create_graph(summaryMonthlyStats['monthly_post_type_stats'], 'monthly_post_type_stats', '月別投稿数')
    create_graph(summaryMonthlyStats['monthly_limited_item_stats'], 'monthly_limited_item_stats', '月別プラン価格帯別投稿数')
    create_graph(summaryMonthlyStats['monthly_content_type_stats'], 'monthly_content_type_stats', '月別コンテンツタイプ別投稿数')
    create_graph(summaryMonthlyStats['photo_stats'], 'photo_stats', 'プラン内写真投稿分析')
    create_graph(summaryMonthlyStats['movie_stats'], 'movie_stats', 'プラン内動画投稿分析')
</script>
<style>
  .graph-container {
      height: 300px;
      max-width: 400px;
  }
</style>