  <div class="container graph-container">
    <canvas id="plan_post_stats"></canvas>
  </div>

  <div class="container graph-container">
    <canvas id="plan_photo_post_count_stats"></canvas>
  </div>
  <div class="container graph-container">
    <canvas id="plan_photo_count_stats"></canvas>
  </div>
  <div class="container graph-container">
    <canvas id="plan_movie_post_count_stats"></canvas>
  </div>
  <div class="container graph-container">
    <canvas id="plan_movie_time_stats"></canvas>
  </div>

  <script>
    create_graph(planBasedStats['plan_post_stats'], 'plan_post_stats', 'プラン別投稿数')
    create_graph(planBasedStats['plan_photo_post_count_stats'], 'plan_photo_post_count_stats', 'プラン別写真投稿数')
    create_graph(planBasedStats['plan_photo_count_stats'], 'plan_photo_count_stats', 'プラン別写真枚数')
    create_graph(planBasedStats['plan_movie_post_count_stats'], 'plan_movie_post_count_stats', 'プラン別動画投稿数')
    create_graph(planBasedStats['plan_movie_time_stats'], 'plan_movie_time_stats', 'プラン別動画時間(分)')


</script>
<style>
  .graph-container {
      height: 400px;
      max-width: 400px;
  }
</style>